<div>
    <h2 id="page-heading">
        <span>Proposal Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proposal-user" [routerLink]="['/proposal-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Proposal User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proposalUsers?.length === 0">
        <span>No proposalUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="proposalUsers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assignedVotesPoints"><span>Assigned Votes Points</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let proposalUser of proposalUsers ;trackBy: trackId">
                <td><a [routerLink]="['/proposal-user', proposalUser.id, 'view' ]">{{proposalUser.id}}</a></td>
                <td>{{proposalUser.creationDate | date:'medium'}}</td>
                <td>{{proposalUser.assignedVotesPoints}}</td>
                <td>
                    {{proposalUser.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proposal-user', proposalUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proposal-user', proposalUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proposal-user', { outlets: { popup: proposalUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
