<div>
    <h2 id="page-heading">
       <table style="width:100%">
		  <tr>
        	<span>Proposals</span> <!--  NO ESTA INTERNACIONALIZADO NI TRADUCIDO MAAAAAAAAAAAL -->
		  </tr>
		  <tr>
		    <td>
   		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-chat-room" (click)="myProposals()">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span>
		            My Proposals
		            </span>
		        </button>
			</td>
		    <td>
		        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proposal" [routerLink]="['/proposal/new']">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span >
		            Create new Proposal
		            </span>
		        </button>
			</td> 
		  </tr>
		</table>
		<table style="width:100%">
		  <tr>
        	<span>Filter Proposals by Type</span> <!--  NO ESTA INTERNACIONALIZADO NI TRADUCIDO MAAAAAAAAAAAL -->
		  </tr>
		  <tr>
		    <td>
   		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-chat-room" (click)="study()">
		            <span>
		            Study
		            </span>
		        </button>
			</td>
		    <td>
   		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-chat-room" (click)="approved()">
		            <span>
		            Approved
		            </span>
		        </button>
			</td>
			<td>
   		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-chat-room" (click)="development()">
		            <span>
		            Development
		            </span>
		        </button>
			</td> 
			<td>
   		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-chat-room" (click)="production()">
		            <span>
		            Production
		            </span>
		        </button>
			</td>
		  </tr>
		</table>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proposals?.length === 0">
        <span>No proposals found</span>
    </div>
    <div class="table-responsive" *ngIf="proposals?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proposalName"><span>Proposal Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proposalType"><span>Proposal Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proposalRole"><span>Proposal Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="releaseDate"><span>Release Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isOpen"><span>Is Open</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isAccepted"><span>Is Accepted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isPaid"><span>Is Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profileId"><span>Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postId"><span>Post</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proposal of proposals ;trackBy: trackId">
                <td><a [routerLink]="['/proposal', proposal.id, 'view' ]">{{proposal.id}}</a></td>
                <td>{{proposal.creationDate | date:'medium'}}</td>
                <td>{{proposal.proposalName}}</td>
                <td>{{proposal.proposalType}}</td>
                <td>{{proposal.proposalRole}}</td>
                <td>{{proposal.releaseDate | date:'medium'}}</td>
                <td>{{proposal.isOpen}}</td>
                <td>{{proposal.isAccepted}}</td>
                <td>{{proposal.isPaid}}</td>
                <td>
                    <div *ngIf="proposal.profileId">
                        <a [routerLink]="['../profile', proposal.profileId , 'view' ]" >{{proposal.profileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proposal.postId">
                        <a [routerLink]="['../post', proposal.postId , 'view' ]" >{{proposal.postId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proposal', proposal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proposal', proposal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proposal', { outlets: { popup: proposal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="proposals?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
